$navbar-default-bg: #77a3ea;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.5em;
}

.center{
  text-align: center;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  
  
}

footer a:hover{
  background-color:#77a3ea;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top:5px;
}

.article-title{
  font-weight:bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}