<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Ror-Blog by <a href="https://www.facebook.com/brandon.rojas.9275">Brandon Rojas</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>